.carousel-item img {
    width: 100%;
}

.carousel-caption h4 {
    opacity: 0.8;
}

@media (max-width: 960px) {
    .carousel-caption h1 {
      display: none;
    }
}

@media (max-width: 740px) {
    .carousel-caption {
      display: none;
    }
}