.titleForm {
  font-family: "Poppins", sans-serif;
  margin-top: 10px;
  text-align: center;
  color: #e23d8c;
  margin-bottom: 40px;
}

label {
  color: #e23d8c;
  font-weight: bolder;
}

.cardForm {
  margin-right: 2vw;
  margin-left: 2vw;
  padding: 15px 40px;
  background-color: #fae9ee;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(212, 197, 197, 0.897);
}

.cardForm input, .cardForm textarea {
  margin-bottom: 25px;
  border: 1px solid #999;
}

.cardForm input:focus, .cardForm textarea:focus {
  border-color: #e23d8c;
}

#img-form img {
  width: 100%;
  padding: 15px;
}

.container {
  padding-bottom: 30px;
}