* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  user-select: none;
}
body {
  font-family: "Roboto", sans-serif;
}
/*Menu navegação*/
.navbar {
  background-color: #058177;
}
.navbar ul li a,
#btnmodal {
  font-size: larger;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  padding: 7px 13px;
}
a.active,
a:hover,
#btnmodal:hover {
  transition: 0.5s;
  color: #feaec9 !important;
}
.btn {
  background-color: #058177 !important;
  border: none;
}
#checkLogin {
  margin-top: 20px;
}
.newsletter {
  padding: 40px;
  margin-bottom: 30px;
}
footer {
  background-color: #058177;
  padding: 20px;
}
footer p,
footer ul li a {
  color: #fff;
  text-align: center;
}
#formLogin {
  border: none;
}
/*Página Home*/
/*Carroseel*/
.carousel-item img {
  width: 100%;
}
.carousel-caption h4 {
  opacity: 0.8;
}
@media (max-width: 960px) {
  .carousel-caption h1 {
    display: none;
  }
}
@media (max-width: 740px) {
  .carousel-caption {
    display: none;
  }
}
/*Cards institucionais*/
#institucional {
  padding: 60px;
}
.h-100 {
  border-radius: 40px 0;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}
.h-100 h3 {
  color: #e23d8c;
  font-family: "Poppins", sans-serif;
}
#icon-grid {
  background-color: #fff0f5;
  text-align: center;
}

/*Página Cadastro*/
.card-title {
  color: white;
  font-size: 30px;
}
.card-text {
  color: #058177;
  font-size: 20px;
  font-weight: bold;
}
.card,
#formLogin {
  padding: 10px;
  text-align: center;
}
/*Páginas Cadastrar Empresa, Cadastrar Pessoa e Contato*/
.titleForm,
.modal-title {
  font-family: "Poppins", sans-serif;
  margin-top: 10px;
  text-align: center;
  color: #e23d8c;
  margin-bottom: 40px;
}
label {
  color: #e23d8c;
  font-weight: bolder;
}
.cardForm {
  margin-right: 2vw;
  margin-left: 2vw;
  padding: 15px 40px;
  background-color: #fae9ee;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(212, 197, 197, 0.897);
}
.cardForm input,
.cardForm textarea {
  margin-bottom: 25px;
  border: 1px solid #999;
}
.cardForm input:focus,
.cardForm textarea:focus {
  border-color: #e23d8c;
}
#img-form img {
  width: 100%;
  padding: 15px;
}
.container {
  padding-bottom: 30px;
}
/*Página parceiros*/
.cardParceiros {
  padding: 40px;
}
.card-ind-parc {
  padding: 20px;
}
.card-header {
  padding-top: 30px;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  font-size: 25px;
  color: #058177;
  background-color: #baf0ee;
}
.card-text1 {
  text-align: justify;
}
